{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=flowpilot_dev;Username=flowpilot;Password=flowpilot_dev_pass"
  },
  "Jwt": {
    "Secret": "REPLACE_WITH_A_LOCAL_DEV_SECRET_AT_LEAST_32_CHARS"
  }
}
